<h2>Movies</h2>

<form action="/movies/create" method="post">
  <label>Title: </label>
  <input name="title">

  <label>Genre: </label>
  <input name="genre">

  <label>Plot: </label>
  <input name="plot">

  <label>Cast: </label>
  <select name="cast">
    <% celebrities.forEach(celebrity => { %>
    <option value="<%= celebrity._id %>"><%= celebrity.name %></option>
    <% }) %>
  </select>
  <br>
  <button type="submit">Create Movie</button>
</form>